<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>623660364939-n1efplv77al1pq04g2cvqdhjd62lslje.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.623660364939-n1efplv77al1pq04g2cvqdhjd62lslje</string>
	<key>API_KEY</key>
	<string>AIzaSyCl3daxkFiRw4eXYi2NEGnvRNCJfz0DE4A</string>
	<key>GCM_SENDER_ID</key>
	<string>623660364939</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.startupNamer</string>
	<key>PROJECT_ID</key>
	<string>dsi-ufrpe</string>
	<key>STORAGE_BUCKET</key>
	<string>dsi-ufrpe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:623660364939:ios:1c99953f70664e4596d08e</string>
</dict>
</plist>